body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, .social-links {
    background-color: rgb(126, 147, 223);
    text-align: center;
    padding: 20px 0;
    color: white;
}

header h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header h4, .profile-details h1, .profile-details h4, .profile-details p {
    margin: 5px 0;
}

.profile {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    display: flex; /* This will create a flex container and make the image and the profile-details sit side by side */
    justify-content: center;
    align-items: center; /* This will vertically center the content */
}

.profile-picture {
    margin-left: 60px; /* Add some space between the picture and the profile details */
    margin-right: 10px;
    border-radius: 50%;
}

.profile-details {
    flex: 1; /* This will make the profile-details take up the remaining space after the image */
    text-align: center;
}

.profile-details h1, .profile-details h4, .profile-details p {
    margin: 5px 0;
}

.project {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-top: 20px;
    display: flex;
}

.project-image-container {
    width: 100px;          /* Fixed width for images */
    padding-right: 20px;   /* Space between the image and the next column */
    text-align: center;    /* Center the image horizontally */
}

.project-image {
    max-width: 100%;       /* Ensuring the image doesn't overflow the container */
    height: auto;          /* Keeping the aspect ratio */
    border-radius: 8px;    
}

.projects {
    text-align: center;
}

.project-title,
.project-description, 
.project-link {
    flex: 1;         /* Allows these sections to take equal width */
    padding: 0 15px;      /* Some padding for visual separation */
}

/* Optional styling to center-align everything vertically */
.project-title, 
.project-description, 
.project-link, 
.project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover {
    background-color: #f9f9f9;
}

.project-list {
    display: none;
    /* other styles */
}

#toggleProjects {
    background: none;
    border: none;
    cursor: pointer;
}

.bio, .project {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: white;
}

.social-links a:hover {
    text-decoration: underline;
}